html, body {
  height: 100%;
  width: 100%;
}
@font-face{
  font-family: Horizon;
  src:url(horizon_outlined.otf);
}
@font-face{
  font-family:GRR;
  src:url(Grand\ Royal\ Regular.otf);
}
@font-face{
  font-family:roboto;
  src:url(Roboto-Regular.ttf);
}
*{
  margin:0;
  padding:0;;
}
body{
  background-color:#fff
}
nav{
  width:100%;
  height:13%vh;
  background-color:#FFD0E8;
  position:fixed;
  top:0;
  z-index:9;
}
nav ul li{
  list-style:none;
  float:left;
  display: inline-block;
  line-height:70px;
}
nav ul li a{
  display:block;
  text-decoration: none;
  font-family:GRR;
  font-size:2vw;
  color: white;
  padding:0 20px;
}
nav ul li a:hover{
 color:red;
}
.box{
  width:100vw;
  height:100vh;
  background-image:linear-gradient(to right,white 50%,#FFF9D7 50%);
}

.box h1{
  position:absolute;
  padding-top:170px;
  text-align:center;
  right:0;
  left:0;
  color:black;
  font-size:10vw;
  font-family:Horizon;
}
.intro{
  padding:1.5vw;
  padding-top:5vh;
  font-family:roboto;
  height:90%
}
.intro  img{
  float:right;
  padding:5%;
  display:inline-block;
  width:auto;
  max-height:60%;
  
}
.intro h1{
  margin-top:15%;
  display:block;
  text-align:center;
  width:25%;
  height:auto;
  font-size:4vw;
}
.intro p{
  display:block;
  padding:40px;
  padding-top:40px;
  line-height:150%;
  
}
.home h2{
  margin-top:5%;
  margin-left:2.5vw;
  font-size:4vw; 
}

.row {
  display: flex;
  justify-content:center;
  margin:2.5vw;
  padding:5%;
  background-color:#FFF9D7;
}

.column {
  flex: 33.33%;
  padding: 5px;
  height:auto;
}

.sep{
  padding-top:170px;
  margin:20px;
  font-family:roboto;
  line-height:150%
}
.sep h1{
  padding-bottom:5vh;
}
.sep h2{
  padding-bottom:3vh;
}

.drive img {
  width:100%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.drive{
  background-color:#FFF9D7;
  margin-left:25%;
  margin-right:25%;
  height:60%;
  padding:2%;
  font-family:roboto;
  text-align:center;
}
.drive p{
  padding-top:50px;
}
blockquote{
  width:25%;
  background-color:#E6E7E2;
  padding:25px;
  margin-top:20px;
}
.oct{
  list-style:circle;
  padding-top:20px;
  margin:20px;
  font-family:roboto;
  line-height:150%
}
.oct p{
 padding-top:20px;
 padding-bottom:20px;
}
.oct ul{
  margin-left:40px;
}
.oct h3 {
  font-size:1.5rem;
}
.oct h4 {
  font-size:1.5rem;
}
.oct h5 {
  font-size:1.5rem;
}
.wfooter{
  height:25%;
  padding:5%;
}
.buttons{
  margin:20px;
}
.btn1{
  background-color:#FFD0E8;
  border-radius:10px;
  border-style:none;
  padding:20px 50px;
  font-family:roboto;
  font-size:2rem;
  color:white;
  text-transform:uppercase;
  font-weight:bold;
  cursor:pointer;
  transition-duration:0.3s;
  transition-property: transform, border-color,background-color,border-style, color;
}
.btn1:hover, .btn1:active{
  transform:scale(1.05);
  background-color:white;
  border-color:#FFD0E8;
  border-style:solid;
  border-width:5px;
  color:#FFD0E8;
}
.isb{
  
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(oregon.jpeg);
  height:100vh;
  font-family:roboto;
  line-height:150%
}
.isb h1{
  font-family:GRR;
  padding-top:170px;
  margin:20px;
  color:white;
  padding-bottom:5vh;
}
.isb p{
  margin:20px;
  color:white;
}
.sports{
  height:90%;
}
.sports h2{
  font-family:GRR;
  padding-top:70px;
  margin:20px;
  color:black;
  padding-bottom:3vh;
}
.sports h3{
  font-family:GRR;
  padding-top:70px;
  font-size:1.5rem;
  margin:20px;
  color:black;
  padding-bottom:3vh;
}
.sports p{
  font-family:roboto;
  margin:20px;
}
.sports img{
  margin-left:auto;
  margin-right:auto;
  display:block;
  height:50vh;
  margin-top:20px;
  margin-bottom:20px
  border-radius:10px;
  transition-duration:0.3s;
  transition-property: transform, border-color,background-color,border-style, color;
}
.sports img:hover{
  transform:scale(1.05);
  background-color:white;
  border-color:#FFD0E8;
  border-style:solid;
  border-width:5px;
}
